<h2>Download</h2>
<%= erb :node_name %>
<p class="alert alert-warning" role="alert">
  We found your <%= @transaction %>, but noticed that you haven't paid enough to meet the price set of <%= sprintf '%.2f', @price %> XEM. You've currently paid <strong><%= sprintf '%.2f', @paid %> XEM</strong> to date, so please send an extra <strong><%= sprintf '%.2f', @difference %> XEM</strong> using the same address (remember to include the message), and return for your download. Thanks!
</p>
<p>
  <%= @transaction.capitalize %> found:
</p>
<%= erb :tx_list %>
<p>
  You can either hit the back button to see the payment info again, or <a href="/">start over</a>.
</p>
