<h2>Payment</h2>
<p>
  Great! Please send your XEM payment to the address encoded in the QR code below. The minimum price is <strong><%= sprintf '%.2f', @price %> XEM</strong> (~$<%= sprintf '%.0f', @usd_price %> USD), but you can pay any amount, obviously. Pay less than the asking price and your download will not be available, but you can always make up the shortfall in several separate payments (though you will pay more in transaction fees by doing this). You'll be advised on the exact value left to pay when we check for your payments in the next step.
</p>
<div class="qr-code">
  <%= @qr %>
</div>
<h3>Manual Payment</h3>
<p>
  If you can't scan a QR code, you can still make a payment manually as follows:
</p>
<h4>1. Enter Your ID Hash as Message</h4>
<p>
  You <strong>must</strong> include the hash string below in the message field when making your payment, as it's your unique purchase ID, linked to your email address, and stored on the blockchain as part of your transaction. This will be used to confirm that your purchase has successfully been made.
</p>
<p class="alert alert-warning" role="alert">
  Your ID hash is essential to the use of NEMp3. Please don't forget to include this.
</p>
<textarea class="payment-message" onclick="this.select()" readonly="readonly" rows="2">
  <%= @id_hash %>
</textarea>
<h4>2. Enter the Payment Amount and Address</h4>
<p>
  With your ID hash safely pasted into the message field, all that's left is to enter the payment amount and copy/paste the payment address:
</p>
<textarea class="payment-address" onclick="this.select()" readonly="readonly" rows="2">
  <%= settings.payment_address %>
</textarea>
<h4>3. Send It!</h4>
<p>
  It may take a minute for your payment to be confirmed by nodes on the network, but once it's been confirmed, please continue.
</p>
<form class="please-wait-form" action="/download" method="get">
  <!-- <input type="hidden" name="id_hash" value="<%= @id_hash %>"> -->
  <button type="submit" class="btn btn-outline-primary btn-lg btn-block please-wait-button ">Next Step: Download</button>
</form>
